@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);

/* Html Reset */
/* ------------------------------------------------------------ */
html,body,p,ul,ol {
  padding:0;
  margin: 0;
}

html,body {
  font-family: 'Roboto',helvetica,sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1;
  font-size: 100%;
  vertical-align: baseline;
  color: #333;
}

img {
  max-width: 100%;
}

ul,ol {
  list-style: none;
}
/* ------------------------------------------------------------ */

header{
  width:100%;
  background: #E45050;
  padding: 10px 0;
  height: 45px;
  position: fixed;
}

#logo {
  width: 115px;
  margin: 0 auto;

}
#hamburger{
  padding: 7px 3%;
  position: absolute;
  font-size: 16px;
  font-weight: 100;
  color: #ffffff;
}

#conteudo{
  float: left;
  width: 100%;
  height: 100%;
  background: #F3F3F3;
  padding: 0;
  padding-top: 50px;
  position: absolute;

}

#conteudo #sidebar{
  float: left;
  width: 15%!important;
  padding: 10px 3%;
  display: block;
  -webkit-transition:0.7s ease-in-out;
  -moz-transition:  0.7s ease-in-out;
  -o-transition:  0.7s ease-in-out;
  transition:  0.7s ease-in-out;
  position: fixed;
  background: #F3F3F3;
  min-height: 100%;
}
#conteudo #sidebar.hamburger{
  margin-left: -20%!important;
}
#conteudo #display.hamburger_content{
  width: 100%!important;
}
#conteudo #sidebar ul{
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  width:auto; /* size the block automatically */
}

#conteudo #sidebar ul li{
  display: block;
  margin: 0;
  padding: 2px 0;
  border: 0px;
  position: relative;
  color: #666;
  font-size: 15px;
  font-weight: 300;
  white-space:normal;
}

#conteudo #sidebar .titulo{
  padding: 15px 0;
}

#conteudo #sidebar .separacao:before{
  content: '';
  width: 15%;
  height: 1px;
  background: transparent;
  display: block;
  margin-bottom: 20px;
}

#conteudo #sidebar ul li a{
  display: block;
  position: relative;
  text-decoration: none;
  margin: 0;
  padding: 0!important;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  color: #000;
}


#conteudo #sidebar ul li a:hover{
  color: #000;
  font-weight: 500;
}

#conteudo #sidebar ul li a.atual{
  font-weight:bold;
}
#conteudo #display{
  float: right;
  width: 85%!important;
  min-height: 100%;
  background: #fff;
  -webkit-transition: width 0.7s ease-in-out;
  -moz-transition: width 0.7s ease-in-out;
  -o-transition: width 0.7s ease-in-out;
  transition: width 0.7s ease-in-out;
  bottom: 0;
  top: 0;
}

#display .conteudo-padding{
  padding: 20px 60px;
  margin: 0!important;
}
#display .row-pm{
  margin: 0;
  padding: 0;
}
#display h1{
  font-size: 24px;
  padding: 0;
  margin: 15px 0!important;
  font-weight: 300;
}
#display h1 span a{
  background: #1dd2af;
  border-radius:5px;
  font-size:15px;
  padding: 4px;
  color: #fff;
  font-style: normal;
  text-decoration: none;
  display: inline-block;
}
#display h1 span a:hover{
  background: #16a085;
}

#display h1 span.ver-relatorio a{
  background: #E45050;
}
#display h1 span.ver-relatorio a:hover{
  background: #AB3939;
}
#display .titulo{
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}
#display .box{
  width: 100%;
  margin:0 auto;
  min-height: 80px;
  margin-top: 20px;
  margin-bottom: 25px;
  padding: 10px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  /* background: #F3F3F3; */
  overflow: hidden;
  z-index: 40;
}
#display .box a, #display .box a:hover{
  text-decoration: none;
}
#display .box .data{
  font-size: 35px;
  text-align: center;
  color: #fff;
}

#display .box .subtitle{
  font-size: 16px;
  padding: 5px;
  color: #eee;
  text-align: center;
  text-transform: uppercase;
}

/* Forms */
/* ------------------------------------------------------------ */
label{
  font-weight: 300;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  box-sizing: inherit!important;
}

.form-control:focus {
  border-color: #777777;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #8C8C8C;
  font-weight: 300;
}
/* ------------------------------------------------------------ */

/* btn colors */
/* ------------------------------------------------------------ */

.btn-default {
  color: #fff;
  background-color: #bdc3c7;
  border:none;
}

.btn-default:hover,.btn-default.hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default {
  color: #fff;
  background-color: #cacfd2;
  border-color: #cacfd2;
  border:none;
}

.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default {
  background: #a1a6a9;
  border-color: #a1a6a9;
  border:none;
}

.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled.hover,.btn-default[disabled].hover,fieldset[disabled] .btn-default.hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active {
  background-color: #bdc3c7;
  border-color: #bdc3c7;
  border:none;
}

.btn-default .badge {
  color: #bdc3c7;
  background-color: #fff;
  border:none;
}

.btn-primary {
  color: #fff;
  background-color: #1abc9c;
  border:none;
}

.btn-primary:hover,.btn-primary.hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #48c9b0;
  border-color: #48c9b0;
  border:none;
}

.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary {
  background: #16a085;
  border-color: #16a085;
  border:none;
}

.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled.hover,.btn-primary[disabled].hover,fieldset[disabled] .btn-primary.hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active {
  background-color: #bdc3c7;
  border-color: #1abc9c;
  border:none;
}

.btn-primary .badge {
  color: #1abc9c;
  background-color: #fff;
  border:none;
}

.btn-info {
  color: #fff;
  background-color: #3498db;
  border:none;
}

.btn-info:hover,.btn-info.hover,.btn-info:focus,.btn-info:active,.btn-info.active,.open>.dropdown-toggle.btn-info {
  color: #fff;
  background-color: #5dade2;
  border-color: #5dade2;
  border:none;
}

.btn-info:active,.btn-info.active,.open>.dropdown-toggle.btn-info {
  background: #2c81ba;
  border-color: #2c81ba;
  border:none;
}

.btn-info.disabled,.btn-info[disabled],fieldset[disabled] .btn-info,.btn-info.disabled:hover,.btn-info[disabled]:hover,fieldset[disabled] .btn-info:hover,.btn-info.disabled.hover,.btn-info[disabled].hover,fieldset[disabled] .btn-info.hover,.btn-info.disabled:focus,.btn-info[disabled]:focus,fieldset[disabled] .btn-info:focus,.btn-info.disabled:active,.btn-info[disabled]:active,fieldset[disabled] .btn-info:active,.btn-info.disabled.active,.btn-info[disabled].active,fieldset[disabled] .btn-info.active {
  background-color: #bdc3c7;
  border-color: #3498db;
  border:none;
}

.btn-info .badge {
  color: #3498db;
  background-color: #fff;
  border:none;
}

.btn-danger {
  color: #fff;
  background-color: #e74c3c;
  border:none;
}

.btn-danger:hover,.btn-danger.hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.open>.dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #ec7063;
  border-color: #ec7063;
  border:none;
}

.btn-danger:active,.btn-danger.active,.open>.dropdown-toggle.btn-danger {
  background: #c44133;
  border-color: #c44133;
  border:none;
}

.btn-danger.disabled,.btn-danger[disabled],fieldset[disabled] .btn-danger,.btn-danger.disabled:hover,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger:hover,.btn-danger.disabled.hover,.btn-danger[disabled].hover,fieldset[disabled] .btn-danger.hover,.btn-danger.disabled:focus,.btn-danger[disabled]:focus,fieldset[disabled] .btn-danger:focus,.btn-danger.disabled:active,.btn-danger[disabled]:active,fieldset[disabled] .btn-danger:active,.btn-danger.disabled.active,.btn-danger[disabled].active,fieldset[disabled] .btn-danger.active {
  background-color: #bdc3c7;
  border-color: #e74c3c;
  border:none;
}

.btn-danger .badge {
  color: #e74c3c;
  background-color: #fff;
  border:none;
}

.btn-success {
  color: #fff;
  background-color: #2ecc71;
  border:none;
}


.btn-success:hover,.btn-success.hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open>.dropdown-toggle.btn-success {
  color: #fff;
  background-color: #58d68d;
  border-color: #58d68d;
  border:none;
}

.btn-success:active,.btn-success.active,.open>.dropdown-toggle.btn-success {
  background: #27ad60;
  border-color: #27ad60;
  border:none;
}

.btn-success.disabled,.btn-success[disabled],fieldset[disabled] .btn-success,.btn-success.disabled:hover,.btn-success[disabled]:hover,fieldset[disabled] .btn-success:hover,.btn-success.disabled.hover,.btn-success[disabled].hover,fieldset[disabled] .btn-success.hover,.btn-success.disabled:focus,.btn-success[disabled]:focus,fieldset[disabled] .btn-success:focus,.btn-success.disabled:active,.btn-success[disabled]:active,fieldset[disabled] .btn-success:active,.btn-success.disabled.active,.btn-success[disabled].active,fieldset[disabled] .btn-success.active {
  background-color: #bdc3c7;
  border-color: #2ecc71;
  border:none;
}

.btn-success .badge {
  color: #2ecc71;
  background-color: #fff;
  border:none;
}

.btn-warning {
  color: #fff;
  background-color: #f1c40f;
  border:none;
}

.btn-warning:hover,.btn-warning.hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.open>.dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #f4d313;
  border-color: #f4d313;
  border:none;
}

.btn-warning:active,.btn-warning.active,.open>.dropdown-toggle.btn-warning {
  background: #cda70d;
  border-color: #cda70d;
  border:none;
}

.btn-warning.disabled,.btn-warning[disabled],fieldset[disabled] .btn-warning,.btn-warning.disabled:hover,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning:hover,.btn-warning.disabled.hover,.btn-warning[disabled].hover,fieldset[disabled] .btn-warning.hover,.btn-warning.disabled:focus,.btn-warning[disabled]:focus,fieldset[disabled] .btn-warning:focus,.btn-warning.disabled:active,.btn-warning[disabled]:active,fieldset[disabled] .btn-warning:active,.btn-warning.disabled.active,.btn-warning[disabled].active,fieldset[disabled] .btn-warning.active {
  background-color: #bdc3c7;
  border-color: #f1c40f;
  border:none;
}

.btn-warning .badge {
  color: #f1c40f;
  background-color: #fff;
  border:none;
}

.btn-inverse {
  color: #fff;
  background-color: #34495e;
  border:none;
}

.btn-inverse:hover,.btn-inverse.hover,.btn-inverse:focus,.btn-inverse:active,.btn-inverse.active,.open>.dropdown-toggle.btn-inverse {
  color: #fff;
  background-color: #415b76;
  border-color: #415b76;
  border:none;
}

.btn-inverse:active,.btn-inverse.active,.open>.dropdown-toggle.btn-inverse {
  background: #2c3e50;
  border-color: #2c3e50;
  border:none;
}

.btn-inverse.disabled,.btn-inverse[disabled],fieldset[disabled] .btn-inverse,.btn-inverse.disabled:hover,.btn-inverse[disabled]:hover,fieldset[disabled] .btn-inverse:hover,.btn-inverse.disabled.hover,.btn-inverse[disabled].hover,fieldset[disabled] .btn-inverse.hover,.btn-inverse.disabled:focus,.btn-inverse[disabled]:focus,fieldset[disabled] .btn-inverse:focus,.btn-inverse.disabled:active,.btn-inverse[disabled]:active,fieldset[disabled] .btn-inverse:active,.btn-inverse.disabled.active,.btn-inverse[disabled].active,fieldset[disabled] .btn-inverse.active {
  background-color: #bdc3c7;
  border-color: #34495e;
  border:none;
}

.btn-inverse .badge {
  color: #34495e;
  background-color: #fff;
  border:none;
}

.alert {
  color: #fff;
}

.alert a{
  color: #666;
}
.alert-success {
  color: #fff;
  background-color: #2ECC71;
  border: none;
}

.alert-success hr {
  border-top-color: none;
}

.alert-info {
  color: #fff;
  background-color: #3498DB;
  border: none;
}

.alert-info hr {
  border-top-color: none;
}


.alert-warning {
  color: #fff;
  background-color: #F1C40F;
  border: none;
}

.alert-warning hr {
  border-top-color: none;
}


.alert-danger {
  color: #fff;
  background-color: #E74C3C;
  border: none;
}

.alert-danger hr {
  border-top-color: none;
}


/* ------------------------------------------------------------ */


.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

/* ------------------------------------------------------------ */

/**, *:before, *:after {
  transition: .25s ease-in-out;
}*/

.ver-relatorio {
  display: block;
  float: right;
}

.checkbox-label {
  background: #f3f3f3;
  height: 20px;
  width: 50px;
  border-radius: 50px;
  position: relative;
  box-shadow: 0 0 0 2px #dddddd;
  font-size: 12px;
  display: block;
  float: right;
}
.checkbox-label .on {
  display: block;
  position: absolute;
  z-index: 0;
  left: 0;
  opacity: 1;
  min-width: 300px;
  line-height: 50px;
  opacity: 0;
  color: #13bf11;
}
.checkbox-label .fim {
  display: block;
  position: absolute;
  z-index: 0;
  right: 70px;
  text-align: right;
  min-width: 300px;
  line-height: 18px;
  opacity: 1;
  color: #bbbbbb;
}
.checkbox-label .off {
  display: block;
  position: absolute;
  z-index: 0;
  right: 100px;
  text-align: right;
  min-width: 300px;
  line-height: 50px;
  opacity: 1;
  color: #bbbbbb;
}
.checkbox-label:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  background: white;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #dddddd;
}

.checkbox {
  position: absolute;
  left: -5000px;
}
.checkbox:checked + .checkbox-label {
  background: #13bf11;
  box-shadow: 0 0 0 2px #13bf11;
}
.checkbox:checked + .checkbox-label .on {
  left: 100px;
  opacity: 1;
}
.checkbox:checked + .checkbox-label .off {
  right: 0px;
  opacity: 0;
}
.checkbox:checked + .checkbox-label:before {
  left: 30px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #13bf11;
}

.checkbox.blue {
  position: absolute;
  left: -5000px;
}
.checkbox.blue + .checkbox-label .on {
  color: #1fc1c8;
}
.checkbox.blue:checked + .checkbox-label {
  background: #1fc1c8;
  box-shadow: 0 0 0 2px #1fc1c8;
}
.checkbox.blue:checked + .checkbox-label .on {
  left: 100px;
  opacity: 1;
}
.checkbox.blue:checked + .checkbox-label .off {
  right: 0px;
  opacity: 0;
}
.checkbox.blue:checked + .checkbox-label:before {
  left: 30px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #1fc1c8;
}

/* box */
section.cover{
  display: none;
}

section.cover:first-child{
  display: block;
}
.cover .box-dado-chat .chat-item {
  text-align: left;
  margin-top:10px;
}

.cover img {
  width: 10%;
  height: auto;
  border-radius:35px;
}

.cover .box-dado-chat li{
  list-style-type: none;
  padding: 0;
}

.cover .box-dado-chat{
  padding: 0;
}


.cover .box-dado-chat .chat-image {
  padding: 0;
  margin: 0;
}

.cover .box-dado-chat .chat-image img {
  -moz-box-shadow: 1px 3px 10px #DBDBDB;
  -webkit-box-shadow: 1px 3px 10px #DBDBDB;
  -o-box-shadow: 1px 3px 10px #DBDBDB;
  box-shadow: 1px 3px 10px #DBDBDB;
}

.cover .box-dado-chat .chat-message {
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
  border: 1px solid #f7f7f7;
  padding: 15px;
  text-align: left;
  width: 83%;
  min-height: 60px;
  font-size: 16px;
  margin-left: 4%;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 1px 3px 10px #F7F7F7;
  -webkit-box-shadow: 1px 3px 10px #F7F7F7;
  -o-box-shadow: 1px 3px 10px #F7F7F7;
  box-shadow: 1px 3px 10px #F7F7F7;
  -moz-border-top-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -o-border-top-left-radius: 0;
  border-top-left-radius: 0;
  word-wrap: break-word;
}

.cover .box-dado-chat .chat-message:after {
  content: "";
  position: absolute;
  top: 20px;
  left: -23px;
  border-style: solid;
  border-width: 12px 12px 12px 12px;
  border-color: transparent #FFFFFF transparent transparent;
}

.cover .box-dado-chat .chat-message:before {
  content: "";
  position: absolute;
  top: 20px;
  left: -25px;
  border-style: solid;
  border-width: 12px;
  border-color: transparent #f7f7f7 transparent transparent;
}

.cover .box-dado-chat .chat-image img.emoji{
  clear: both;
  box-shadow: none;
  width: 15px;
  border: none;
  border-radius: 0;
  height: auto;
}

.cover .box-dado-chat .chat-time {
  position: absolute;
  bottom: 1px;
  right: 5px;
  font-size: 12px;
  color: #D6d6d6;
}

.avalie{
  margin-top:30px;
  font-size: 30px;
}
.avalie button{
  padding: 15px;
}
.avalie button i{
  font-size: 25px;
}
.avalie a{
  margin-right:24%;
  text-decoration: none;
}

.avalie a:visited {
  text-decoration: none;
}

.avalie a:hover {
  text-decoration: none;
}

.avalie a:active {
  text-decoration: none;
}

.avalie a:last-child{
  margin-right:0;

}

.center {
  width: 370px;
  margin: 10px auto;
}


/* ------------------------------------------------------------ */

/* Responsivo */
@media screen and (max-width: 768px){
  /* conteudo */
  #conteudo #display{
    width: 55%!important;
  }
  #conteudo #sidebar{
    width: 45%!important;
  }
  #conteudo #sidebar ul li a{
    font-size: 20px;
    padding: 2px 0!important
  }
  #conteudo #sidebar.hamburger{
    margin-left: -45%!important;
  }
  #conteudo #display.hamburger_content{
    width: 100%!important;
  }

  #display .conteudo-padding{
    padding: 20px!important;
  }

  /* box comentario */
  .cover img{
    width: 15%;
    height: auto;
    border-radius: 50%;
  }
  .cover .box-dado-chat .chat-message{
    width: 79%;
  }

  /* botao avaliar comentario */

  .avalie a{
    margin-right: 11%;
    text-decoration: none;
  }

  .center{
    text-align: center;
    width: 100%!important;
  }

}

/* ------------------------------------------------------------ */

/* Cores */

.verdebg{
  background-color: #2ecc71;
}
.amarelobg{
  background-color: #ECBE04;
}
.azulbg{
  background-color: #3498db;
}

.avisoSalvo{
  background-color: #1dd2af;
  color: #fff;
  width: 200px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  border-radius: 14px;
}

#hora a{
color: #E45050!important;
}
