/**
/* MENU
/* ----------------------------------------------------------------------------------------------------------
*/
.er-menu {
    background: #2574A9;
    font-size: 0;
}

.er-menu__item {
    display: inline-block;
    font-family: "calibri",sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    padding: 12px 15px;
    font-size: 16px;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.er-menu__item:hover,
.er-menu__item--active {
    background: #22313F;
    -webkit-text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    -moz-text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    -o-text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

.er-menu__item--right{
    float: right;
}

.er-menu__item--right button {
    margin: 6px!important;
    background: #87D37C;
    font-weight: bolder;
    border: none;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    -o-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.er-menu__option {
    overflow: hidden;
    height: 0;
    background: #22313F;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.er-menu__option--active {
    height: 123px;
}

/**
/* MENU BOX
/* ----------------------------------------------------------------------------------------------------------
*/
.er-menu__box {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    padding: 5px;
    background: #5097F7;
    cursor:pointer;
}

.er-menu__box-list {
    display: none;
    position: absolute;
    top: 26px;
    right: 0;
    background: #5097F7;
    width: 135px;
    text-align: left;
}

.er-menu__box-list li {
    padding: 5px 10px;
    transition: .2s ease-in-out;
}

.er-menu__box-list li:hover {
    background: #2574A9;
}

/**
/* MAIN AREA
/* ----------------------------------------------------------------------------------------------------------
*/
.er-area {
    border: 1px dashed #fff;
    max-width: 1070px;
    margin: 20px auto 0 auto;
    height: 545px;
    position: relative;
}

.er-area:after{
    content: 'área limite';
    position: absolute;
    bottom: -12px;
    margin: auto;
    font-size: 12px;
    left: 0;
    right: 0;
    width: 100px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 20px;
    background: #056BF3;
    letter-spacing: 0.05em;
}

.er-area__inner {
    max-height: 100vh;
}

.er-area__inner ul {
    margin: auto;
}

/**
/* MODALS
/* ----------------------------------------------------------------------------------------------------------
*/
.er-modal {
    position: fixed;
    z-index: 99999;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

.er-modal__body {
    position: relative;
    background: #fff;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}

.er-modal__close {
    position: absolute;
    cursor: pointer;
    content: '&#10006;';
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: #C0392B;
    color: #fff;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.7);
}

.er-modal__center {
    text-align: center;
}

.er-modal__heading {
    margin-bottom: 10px;
    color: #d5d5d5;
}

.er-modal__item {
    display: none;
}

/**
/* EDITOR
/* ----------------------------------------------------------------------------------------------------------
*/
.er-editor__text {
    width: 500px;
    max-width: 100%;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 6px;
    color: #454545;
    background: #fff;
    margin: 15px 0 0 0;
    min-height: 150px;
    outline: none;
    max-height: 50vh;
    overflow: hidden;
    position: relative;
}

.er-editor__html {
    display: none;
    outline: none;
    border-radius: 6px;
    margin: 15px 0 0 0;
    padding: 10px;
    width: 500px;
    max-width: 100%;
    min-height: 150px;
    max-height: 50vh;
    border: 1px solid #eee;
}

.er-editor__on {
    background: rgba(0,0,0,0.2);
    transition: .2s ease-in-out;
}

.er-del-on {
    background: rgba(192,57,43,0.5);
    transition: .2s ease-in-out;
    padding-bottom: 15px;
}

/**
/* FONT ICON
/* ----------------------------------------------------------------------------------------------------------
*/
.er-font-icon__search-group {
    font-size: 0;
}

.er-font-icon__search-item {
    display: inline-block;
    vertical-align: top;
}

.er-font-icon__search {
    margin-bottom: 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: none;
    padding: 5px;
    outline: none;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
    background: #f9f9f9;
}

.er-font-icon__list {
    max-width: 240px;
    height: 240px;
    padding: 15px;
    overflow: hidden;
    overflow-y: auto;
    border: 1px solid #eee;
    border-radius: 6px;
    color: #A9A9A9;
}

.er-font-icon__item {
    color: #454545;
    display: inline-block;
    padding: 5px;
    width: 45%;
    cursor: pointer;
}

.er-font-icon__list li.active {
    background: #056bf3;
    color: #fff;
    padding: 5px;
    border-radius: 6px;
}

/**
/* COMMENTS
/* ----------------------------------------------------------------------------------------------------------
*/
.er-card {
    color: #fff;
    margin: 15px 0;
    text-align: center;
}

.er-card__caption,
.er-card__image {
    position: relative
}

.er-card__name {
    font-size: 18px
}

.er-card__text {
    padding: 12px;
    margin: 12px 10px 0 10px;
    min-width: 205px;
    background: #efefef;
    font-size: 11px;
    color: #292E38;
    text-align: center;
    line-height: 130%;
    border-radius: 6px
}

.er-card__user {
    position: absolute;
    width: 100%;
    bottom: -26px;
    right: 0;
    font-size: 16px;
    text-align: right
}

.er-card__icon {
    margin: 0 0 10px 15px
}

.er-card__caption,
.er-card__icon,
.er-card__image {
    vertical-align: bottom;
    display: inline-block
}

.circle__image {
    border: 4px solid #fff;
    border-radius: 100%;
}

.circle__image.fa{
    width: 85px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.er-comment__card {
    display: none;
}

.er-comment__list {
    background: #056BF3;
    border-radius: 6px;
    padding:25px;
}

.er-comment__point {
    text-align: center;
}

.er-comment__point {
    padding: 10px 0 0 0;
}

.er-comment__point--item {
    display: inline-block;
    background: #454545;
    margin: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.er-comment__point--item--active{
    background: #056bf3;
}

/**
/* ALERTS
/* ----------------------------------------------------------------------------------------------------------
*/
.er-alert {
    position: fixed;
    z-index: 99999;
    display: none;
    color: #fff;
    background: #87D37C;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    font-weight: bolder;
    border: none;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 6px;
    left: 0;
    top: 50vh;
    right: 0;
    text-align: center;
    max-width: 400px;
    margin: auto;
}

/**
/* BUTTONS
/* ----------------------------------------------------------------------------------------------------------
*/
.er-btn {
    border: 1px solid #fff;
    background: none;
    outline: none;
    cursor: pointer;
    margin: 10px;
    padding: 5px 10px;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.er-btn:disabled{
    opacity: 0.3;
}

.er-btn__modal {
    background: #DDD;
    color: #454545;
    font-weight: bold;
    padding: 10px 20px;
    margin: 25px 0 0 0;
}

.er-btn__editor {
    margin: 0;
}

.er-btn__box {
    border: none;
    padding: 0;
}

.er-btn__box img {
    height: 100px;
    -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
    -moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
    -o-box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}

.er-btn__box img:hover {
    opacity: 0.7;
}

.er-btn__search {
    border: none;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    padding: 5px 25px;
    outline: none;
}

/**
/* GRIDSTER BOX ITEMS
/* ----------------------------------------------------------------------------------------------------------
*/
.er-dragdrop {
    position: relative;
    width: 100%;
    color: #fff;
}

.er-dragdrop__item {
    position: absolute;
    overflow: hidden;
    color: #fff;
    border: 3px solid rgba(255,255,255,.3)
}

.er-dragdrop__box,.dragdrop__box-padding {
    padding: 25px;
}

.er-dragdrop__type-one {
    width: 274px;
    height: 300px
}

.er-dragdrop__type-two {
    width: 584px;
    height: 180px
}

.er-dragdrop__type-three {
    width: 584px;
    height: 517px
}

.er-dragdrop__item-title {
    display: inline-block;
    padding: 0 45px 7px 0;
    font-size: 18px;
    border-bottom: 3px solid #fff;
}

.er-dragdrop__item-text {
    margin-top: 10px;
    line-height: 130%
}

.er-dragdrop__item-icon {
    margin: 0 auto;
    width: 105px;
    border-bottom: 3px solid #fff;
    padding: 15px 0;
    text-align: center;
}

.er-dragdrop__item-image {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    max-width: none!important;
    height: 100%;
    width: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

/**
/* GRIDSTER
/* ----------------------------------------------------------------------------------------------------------
*/
.er-area {
    position: relative;
    padding: 16px 0;
}

.er-area>* {
    margin: 0 auto;
    -webkit-transition: height .4s,width .4s;
    transition: height .4s,width .4s;
}

.er-area .gs-w {
    z-index: 2;
    position: absolute
}

.ready .gs-w:not(.preview-holder),.ready .resize-preview-holder {
    -webkit-transition: opacity .3s,left .3s,top .3s,width .3s,height .3s;
    transition: opacity .3s,left .3s,top .3s,width .3s,height .3s
}

.er-area .preview-holder {
    z-index: 1;
    position: absolute;
    background-color: #fff;
    border-color: #fff;
    opacity: .3
}

.er-area .player-revert {
    z-index: 10!important;
    -webkit-transition: left .3s,top .3s!important;
    transition: left .3s,top .3s!important
}

.er-area .dragging,.gridster .resizing {
    z-index: 10!important;
    -webkit-transition: all 0s!important;
    transition: all 0s!important
}

.gs-resize-handle {
    position: absolute;
    z-index: 1
}

.gs-resize-handle-both {
    width: 20px;
    height: 20px;
    bottom: -8px;
    right: -8px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=);
    background-position: top left;
    background-repeat: no-repeat;
    cursor: se-resize;
    z-index: 20
}

.gs-resize-handle-x {
    top: 0;
    bottom: 13px;
    right: -5px;
    width: 10px;
    cursor: e-resize
}

.gs-resize-handle-y {
    left: 0;
    right: 13px;
    bottom: -5px;
    height: 10px;
    cursor: s-resize
}

.gs-w:hover .gs-resize-handle,.resizing .gs-resize-handle {
    opacity: 1
}

.gs-resize-handle,.gs-w.dragging .gs-resize-handle {
    opacity: 0
}

.gs-resize-disabled .gs-resize-handle,[data-max-sizex="1"] .gs-resize-handle-x,[data-max-sizey="1"] .gs-resize-handle-y,[data-max-sizey="1"][data-max-sizex="1"] .gs-resize-handle {
    display: none!important
}
