/*!
 * Booking.js
 * http://booking.timekit.io
 * (c) 2015 Timekit Inc.
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
.bookingjs {
  position: relative;
  font-family: "Open Sans", Helvetica, Tahoma, Arial, sans-serif;
  font-size: 13px;
  border-radius: 4px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
  margin: 60px auto 20px auto;
  z-index: 10;
  opacity: 0;
  color: #333; }
  .bookingjs.show {
    transition: opacity 0.3s ease;
    opacity: 1; }
  .is-small.has-avatar.has-displayname .bookingjs-calendar .fc-toolbar {
    padding-bottom: 24px; }
  .is-small .bookingjs-calendar .fc-toolbar > .fc-right > button.fc-today-button {
    position: absolute;
    left: 15px; }
  .bookingjs-timezonehelper {
    color: #AEAEAE;
    text-align: center;
    padding: 7px 10px;
    background-color: #FBFBFB;
    border-top: 1px solid #ececec;
    min-height: 15px;
    z-index: 20;
    border-radius: 0 0 4px 4px; }
  .bookingjs-timezoneicon {
    width: 10px;
    margin-right: 5px; }
  .bookingjs-avatar {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 150px;
    border: 3px solid white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.13);
    overflow: hidden;
    z-index: 40;
    background-color: white; }
    .is-small .bookingjs-avatar {
      top: -40px; }
    .bookingjs-avatar img {
      max-width: 100%;
      vertical-align: middle;
      display: inline-block;
      width: 80px;
      height: 80px; }
      .is-small .bookingjs-avatar img {
        width: 70px;
        height: 70px; }
  .bookingjs-displayname {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 20px;
    color: #333;
    font-weight: 600; }
    .is-small .bookingjs-displayname {
      text-align: center;
      width: 100%;
      box-sizing: border-box; }
    .is-small.has-avatar .bookingjs-displayname {
      top: 44px;
      padding: 0px 20px; }
  .bookingjs-bookpage {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FBFBFB;
    z-index: 30;
    opacity: 0;
    transition: opacity 0.2s ease;
    border-radius: 4px; }
    .bookingjs-bookpage.show {
      opacity: 1; }
    .bookingjs-bookpage-close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 18px;
      transition: opacity 0.2s ease;
      opacity: 0.3; }
      .bookingjs-bookpage-close:hover {
        opacity: 1; }
    .bookingjs-bookpage-date,
    .bookingjs-bookpage h2 {
      text-align: center;
      font-size: 34px;
      font-weight: 400;
      margin-top: 70px;
      margin-bottom: 10px; }
      .is-small .bookingjs-bookpage-date, .is-small
      .bookingjs-bookpage h2 {
        font-size: 27px;
        margin-top: 60px; }
    .bookingjs-bookpage-time,
    .bookingjs-bookpage h3 {
      text-align: center;
      font-size: 17px;
      font-weight: 400;
      margin-bottom: 50px;
      margin-top: 10px; }
      .is-small .bookingjs-bookpage-time, .is-small
      .bookingjs-bookpage h3 {
        font-size: 15px;
        margin-bottom: 35px; }
  .bookingjs-closeicon {
    width: 15px; }
  .bookingjs-form {
    width: 350px;
    position: relative;
    margin: 0 auto;
    text-align: center; }
    .is-small .bookingjs-form {
      width: 90%; }
    .bookingjs-form-box {
      position: relative;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      background-color: white;
      line-height: 0; }
    .bookingjs-form-success-message {
      position: absolute;
      top: -999px;
      left: 0;
      right: 0;
      padding: 30px;
      background-color: white;
      opacity: 0;
      transition: opacity 0.3s ease;
      line-height: normal; }
      .is-small .bookingjs-form-success-message {
        padding: 22px 10px; }
      .bookingjs-form-success-message .title {
        font-size: 20px;
        display: block;
        margin-bottom: 25px; }
      .bookingjs-form-success-message .body {
        display: block; }
        .bookingjs-form-success-message .body .booked-email {
          color: #AEAEAE; }
    .bookingjs-form.success .bookingjs-form-success-message {
      opacity: 1;
      top: 0;
      bottom: 0; }
    .bookingjs-form-input,
    .bookingjs-form input, .bookingjs-form input:invalid
    textarea, .bookingjs-form textarea:invalid {
      transition: box-shadow 0.2s ease;
      width: 100%;
      padding: 15px 25px;
      margin: 0;
      border: 0px solid #ececec;
      font-size: 1em;
      box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0);
      text-align: left;
      box-sizing: border-box;
      line-height: normal;
      font-family: "Open Sans", Helvetica, Tahoma, Arial, sans-serif;
      color: #333; }
      .bookingjs-form-input:focus,
      .bookingjs-form input:focus, .bookingjs-form input:invalid
      textarea:focus, .bookingjs-form textarea:invalid:focus {
        outline: 0;
        box-shadow: inset 0px 0px 1px 1px #689AD8; }
      .bookingjs-form-input.hidden,
      .bookingjs-form input.hidden, .bookingjs-form input:invalid
      textarea.hidden, .bookingjs-form textarea:invalid.hidden {
        display: none; }
      .bookingjs-form-input:read-only,
      .bookingjs-form input:read-only, .bookingjs-form input:invalid
      textarea:read-only, .bookingjs-form textarea:invalid:read-only {
        cursor: not-allowed;
        font-style: italic; }
        .bookingjs-form-input:read-only:focus,
        .bookingjs-form input:read-only:focus, .bookingjs-form input:invalid
        textarea:read-only:focus, .bookingjs-form textarea:invalid:read-only:focus {
          box-shadow: inset 0px 0px 1px 1px #D8D8D8; }
    .bookingjs-form-button {
      position: relative;
      transition: background-color 0.2s, max-width 0.3s;
      display: inline-block;
      padding: 13px 25px;
      background-color: #689AD8;
      text-transform: uppercase;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
      color: white;
      border: 0px;
      border-radius: 3px;
      font-size: 1.1em;
      font-weight: 600;
      margin-top: 30px;
      cursor: pointer;
      height: 44px;
      outline: 0;
      text-align: center;
      max-width: 200px; }
      .bookingjs-form-button .success-text,
      .bookingjs-form-button .error-text,
      .bookingjs-form-button .loading-text {
        transition: opacity 0.3s ease;
        position: absolute;
        top: 13px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0; }
      .bookingjs-form-button .inactive-text {
        white-space: nowrap;
        opacity: 1; }
      .bookingjs-form-button .loading-text svg {
        height: 19px;
        width: 19px;
        animation: spin 0.6s infinite linear; }
      .bookingjs-form-button .error-text svg {
        height: 15px;
        width: 15px;
        margin-top: 2px; }
      .bookingjs-form-button .success-text svg {
        height: 15px;
        margin-top: 2px;
        transform: scale(0);
        transition: transform 0.6s ease; }
      .bookingjs-form-button:hover, .bookingjs-form-button:focus {
        background-color: #3f7fce; }
      .bookingjs-form-button.button-shake {
        animation: shake 0.5s 1 ease; }
    .bookingjs-form.loading .bookingjs-form-button, .bookingjs-form.loading .bookingjs-form-button:hover {
      max-width: 80px;
      background-color: #B1B1B1;
      cursor: not-allowed; }
      .bookingjs-form.loading .bookingjs-form-button .inactive-text, .bookingjs-form.loading .bookingjs-form-button:hover .inactive-text {
        opacity: 0; }
      .bookingjs-form.loading .bookingjs-form-button .loading-text, .bookingjs-form.loading .bookingjs-form-button:hover .loading-text {
        opacity: 1; }
    .bookingjs-form.error .bookingjs-form-button, .bookingjs-form.error .bookingjs-form-button:hover {
      max-width: 80px;
      background-color: #D83B46;
      cursor: not-allowed; }
      .bookingjs-form.error .bookingjs-form-button .inactive-text, .bookingjs-form.error .bookingjs-form-button:hover .inactive-text {
        opacity: 0; }
      .bookingjs-form.error .bookingjs-form-button .error-text, .bookingjs-form.error .bookingjs-form-button:hover .error-text {
        opacity: 1; }
    .bookingjs-form.success .bookingjs-form-button, .bookingjs-form.success .bookingjs-form-button:hover {
      max-width: 80px;
      background-color: #5BAF56;
      cursor: not-allowed; }
      .bookingjs-form.success .bookingjs-form-button .inactive-text, .bookingjs-form.success .bookingjs-form-button:hover .inactive-text {
        opacity: 0; }
      .bookingjs-form.success .bookingjs-form-button .success-text, .bookingjs-form.success .bookingjs-form-button:hover .success-text {
        opacity: 1; }
      .bookingjs-form.success .bookingjs-form-button .success-text svg, .bookingjs-form.success .bookingjs-form-button:hover .success-text svg {
        transform: scale(1); }
  .bookingjs-poweredby {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 7px 10px; }
    .bookingjs-poweredby a {
      transition: color 0.2s ease;
      color: #AEAEAE;
      text-decoration: none; }
      .bookingjs-poweredby a svg path {
        transition: fill 0.2s ease;
        fill: #AEAEAE; }
      .bookingjs-poweredby a:hover {
        color: #333; }
        .bookingjs-poweredby a:hover svg path {
          fill: #333; }
  .bookingjs-timekiticon {
    width: 13px;
    margin-right: 5px;
    vertical-align: sub; }

/*# sourceMappingURL=bookcss.css.map */
