.fc-view-container {
  background-color: #FBFBFB;
  color: #333;
  border-radius: 3px;
  border: 1px solid #ececec;
}

.fc-row.fc-widget-header {
  border-bottom: 1px solid #ececec; }
  .fc-row.fc-widget-header .fc-day-header {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600; }
    .fc-row.fc-widget-header .fc-day-header::first-line {
      color: #b9b9b9; }

.fc-axis {
  color: #b9b9b9;
  font-size: 0.9em; }

.fc-state-default {
  text-shadow: none;
  box-shadow: none;
  background-image: none;
  background-color: white;
  border-color: white; }

.fc-button {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1em;
  border: 0px;
  outline: none; }
  .fc-button:hover, .fc-button:visited, .fc-button:active, .fc-button:focus {
    outline: none;
    border: 0px;
    background-color: transparent; }

.fc-content-skeleton {
  border-top: 1px solid #DDD; }

.fc .fc-toolbar {
  padding: 0px;
  margin-bottom: 0;
  /*border-bottom: 1px solid #ececec;*/ }
  .fc .fc-toolbar button {
    padding: 15px 17px;
    height: auto;
    outline: 0;
    margin-left: 0;
    transition: opacity 0.2s ease;
    opacity: 0.3; }
    .fc .fc-toolbar button:hover {
      opacity: 1; }
    .fc .fc-toolbar button.fc-state-disabled {
      transition: opacity 0s;
      opacity: 1;
      color: black; }
    .fc .fc-toolbar button.fc-prev-button {
      padding-right: 8px; }
    .fc .fc-toolbar button.fc-next-button {
      padding-left: 8px; }
    .fc .fc-toolbar button .fc-icon {
      font-size: 1.1em; }
  .fc .fc-toolbar > .fc-right > button.fc-today-button {
    padding: 15px 5px; }

.fc-unthemed .fc-today {
  background: white; }

.fc-body > tr > .fc-widget-content,
.fc-head > tr > .fc-widget-header {
  border: 0 !important; }

.fc th {
  border-color: white;
  padding: 5px; }

.fc-unthemed .fc-divider,
.fc-unthemed .fc-popover .fc-header {
  background-color: transparent; }

.empty-calendar .fc-event {
  opacity: 0; }

.fc-event {
  transition:.22s cubic-bezier(0.01, -0.15, 0.57, 0.41);
  border: none;
  border-left: 3px solid #689AD8;
  padding: 3px;
  background-color: white;
  border-radius: 4px;
  color: #333;
  margin: 1px 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  margin-bottom: 2px;
  opacity: 1; }
  .fc-event:hover {
    color: white;
    background-color: #689AD8;
    border-left: 3px solid #689AD8;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); }
  .fc-event .fc-bg {
    opacity: 0; }

.fc-day-grid-event {
  padding: 15px;
  margin: 5px; }
  .fc-day-grid-event .fc-time {
    font-weight: 600; }

.fc-time-grid .fc-slats .fc-minor td {
  border-top-style: none; }
.fc-time-grid .fc-slats td {
border-top-color: #FBFBFB; /* FBFBFB // ececec */ }
  .fc-time-grid .fc-slats td.fc-axis {
    border-top-color: #ececec; }

.fc-time-grid-event.fc-short .fc-content {
  font-size: 0.7em;
  line-height: 0.2em; }
.fc-time-grid-event.fc-short .fc-time:after {
  content: ''; }
.fc-time-grid-event .fc-time {
  font-size: 0.85em;
  padding: 0 0 5px;
}

.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-popover {
  border-color: #ececec; }

.fc-agendaMonthly-view .fc-event {
  color: white; }

.fc-now-indicator {
  border-color: rgba(255, 0, 0, 0.5); }
/*# sourceMappingURL=fullcalendar.css.map */
