@charset "UTF-8";

/*
* Plaaymedia Relatórios
* relatórios de campanhas para marcas
* @project Plaaymedia Relatórios
* @version 1.0
* @author Leandro Damacena <ld.damacena@gmail.com>
*/

/*
* VENDOR
* styles reset and third party scss entry point
*/

/* FONT AWESOME */

/* --------------------------------------------------------------------------------------------------------------- */

@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css';

/* RESET */

/* --------------------------------------------------------------------------------------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body,
a {
    font-family: "Open Sans",arial,Sans-serif;
    font-weight: 400;
    font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

a,
a:link,
a:visited,
a:hover {
    text-decoration: none;
    outline: none;
}

b,
strong {
    font-weight: bold;
}

/*
* BASE
* variables, fonts, mixins, helpers... common styles used across the entire site
*/

/*
* FONTS
*/

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/OpenSans.eot);
    src: url(../fonts/OpenSans.eot?#iefix) format("embedded-opentype"), url(../fonts/OpenSans.woff) format("woff"), url(../fonts/OpenSans.ttf) format("truetype");
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    src: url(../fonts/OpenSans-Semibold.eot);
    src: url(../fonts/OpenSans-Semibold.eot?#iefix) format("embedded-opentype"), url(../fonts/OpenSans-Semibold.woff) format("woff"), url(../fonts/OpenSans-Semibold.ttf) format("truetype");
}

@font-face {
    font-family: 'Museo Slab 500';
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/MuseoSlab-500.eot);
    src: url(../fonts/MuseoSlab-500.eot?#iefix) format("embedded-opentype"), url(../fonts/MuseoSlab-500.woff) format("woff"), url(../fonts/MuseoSlab-500.ttf) format("truetype");
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Roboto-Regular.eot);
    src: url(../fonts/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Roboto-Regular.woff) format("woff"), url(../fonts/Roboto-Regular.ttf) format("truetype");
}

/*
* LAYOUTS
* declarations specific to the project, organized according to the items/sections represented
*/

/*
* SLIDES
*/

.slide {
    height: 720px;
    position: relative;
    background: #efefef;
}

header.slide {
    background: #292E38;
}

.slide-headline {
    position: relative;
    padding: 28px 0 28px;
    background: #0c5fce;
    color: #fff;
    font-size: 22px;
    line-height: 150%;
    height: 130px;
}

.slide-headline:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0;
    border-color: #0c5fce transparent transparent;
}

.slide__background--darkblue {
    background: #292e38;
}

.slide__background--softblue {
    background: #056bf3;
}

.slide__background--softblue:after {
    border-color: #056bf3 transparent transparent;
}

.slide__caption {
    position: absolute;
    left: 55px;
    bottom: 50px;
    font-size: 22px;
    color: #fff;
}

/*
* CONTAINERS
*/
.container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}

.container--center {
    text-align: center;
}

.container__three {
    font-size: 0;
    text-align: center;
    width: 100%;
}

.container__three-item {
    font-size: 16px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    width: 33.333333%;
}

/*
* HEADER
*/
.header__button {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    background: #292e38;
    color: #EFEFEF;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s ease-out;
}

.header__button:hover {
    height: 70px;
    width: 70px;
}

.header-brand {
    padding: 155px 20px 156px 20px;
    background: #efefef;
}

.header-headline {
    padding: 50px 0;
    background: #056bf3;
    font-size: 27px;
    color: #fff;
    line-height: 40px;
}

.header-headline h2 {
    font-weight: 600;
}

.header-logo {
    position: relative;
    background: #292e38;
    height: 180px;
    font-size: 18px;
    color: #fff;
}

.header-logo:before {
    content: '';
    width: 2px;
    height: 35px;
    background: #056bf3;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.header-logo__image {
    margin-top: 25px;
}

.header-logo__name {
    font-size: 18px;
    line-height: 120%;
    margin-top: 5px;
}

.header-logo__name p {
    font-family: "Museo Slab 500",arial,Sans-serif;
}

/*
* ENGAGEMENT
*/
.engagement {
    font-size: 0;
    text-align: center;
    width: 100%;
}

.engagement__item {
    font-size: 16px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

/*
* COMMENTS
*/
.comments {
    font-size: 0;
    margin: 50px auto 0 auto;
    width: 90%;
}

.comments__item {
    position: relative;
    display: inline-block;
    width: 33.333333%;
    vertical-align: top;
    min-height: 390px;
    text-align: center;
}

.comments__title {
    border-bottom: 2px solid #fff;
    padding: 10px 0 15px;
    color: #fff;
    font-size: 22px;
}

.comments__icons {
    margin: 30px 0;
}

.comments__item:nth-child(2):before,
.comments__item:nth-child(2):after {
    content: '';
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
}

.comments__item:nth-child(2):before {
    left: 0;
}

.comments__item:nth-child(2):after {
    right: 0;
}

/*
* SOCIAL
*/
.social-headline {
    padding-top: 65px;
    background: #efefef;
}

.social-headline__background {
    position: relative;
    height: 65px;
    background: #292e38;
}

.social-headline__logo {
    position: absolute;
    z-index: 2;
    top: -45px;
    left: 0;
    right: 0;
    margin: auto;
}

.social-headline__counter {
    height: 50px;
    background: #fff;
}

.social-headline__counter-title {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color: #fff;
    background: #292e38;
    padding: 18px 0 18px 20px;
}

.social-headline__counter-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    right: -20px;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 20px;
    border-color: transparent transparent transparent #292E38;
}

.social-headline__counter-number {
    display: inline-block;
    padding: 17px 25px;
    margin-left: 15px;
    font-size: 16px;
    color: #292E38;
}

.social-headline__details {
    position: relative;
    padding-top: 65px;
}

.social-headline__details-step {
    position: absolute;
    z-index: 2;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: auto;
    width: 80px;
    height: 80px;
    padding: 24px 0;
    text-align: center;
    font-family: "Museo Slab 500",arial,Sans-serif;
    font-size: 32px;
    color: #fff;
    background: #056bf3;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 100%;
}

.social-list:after {
    content: '';
    display: table;
    clear: both;
}

.social-list__item {
    width: 50%;
}

.social-post {
    font-size: 16px;
    color: #fff;
}

.social-post__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.social-post__item a {
    text-decoration: none;
    color: #fff;
}

.social-post__item-data {
    position: relative;
    z-index: 2;
    color: #fff;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 10px;
    max-width: 100%;
}

.social-post__item-data img {
    width: 320px;
    height: auto;
    max-height: 350px;
    display: block;
    margin: 0 auto;
}

.social-post__item-video {
    max-width: 100%;
    min-height: 100%;
}

.social-post__data-twitter {
    padding: 25px;
    line-height: 130%;
}

.social-post__data-caption {
    padding: 15px;
    line-height: 130%;
    background: rgba(0, 0, 0, 0.2);
}

.social-post__option {
    margin: 30px -5px;
}

.social-post__option-item {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    padding: 13px 0px;
    width: 100%;
    margin: 0 5px;
    border: 3px solid #fff;
    text-align: center;
    line-height: 140%;
    border-radius: 10px;
}

/*
* THEMES
*/
.theme--facebook .social-headline__details-step,
.theme--facebook .social-headline__background,
.theme--facebook .slide--social {
    background: #3b5998;
}

.theme--facebook .social-headline__counter-title {
    background: #324e86;
}

.theme--facebook .social-headline__counter-title:after {
    border-color: transparent transparent transparent #324e86;
}

.theme--facebook .datatable,
.theme--facebook .social-headline__counter-number,
.theme--facebook .slide__caption {
    color: #3b5998;
}

.theme--facebook .datatable__head {
    border-bottom: 3px solid #3b5998;
}

.theme--twitter .social-headline__details-step,
.theme--twitter .social-headline__background,
.theme--twitter .slide--social {
    background: #00aeeb;
}

.theme--twitter .social-headline__counter-title {
    background: #1b9cd0;
}

.theme--twitter .social-headline__counter-title:after {
    border-color: transparent transparent transparent #1b9cd0;
}

.theme--twitter .datatable,
.theme--twitter .social-headline__counter-number,
.theme--twitter .slide__caption {
    color: #00aeeb;
}

.theme--twitter .datatable__head {
    border-bottom: 3px solid #00aeeb;
}

.theme--youtube .social-headline__details-step,
.theme--youtube .social-headline__background,
.theme--youtube .time-counter__bar-circle,
.theme--youtube .slide--social {
    background: #cd201f;
}

.theme--youtube .social-headline__counter-title {
    background: #b3221e;
}

.theme--youtube .social-headline__counter-title:after {
    border-color: transparent transparent transparent #b3221e;
}

.theme--youtube .datatable,
.theme--youtube .social-headline__counter-number,
.theme--youtube .slide__caption {
    color: #cd201f;
}

.theme--youtube .datatable__head {
    border-bottom: 3px solid #cd201f;
}

.theme--instagram .social-headline__details-step,
.theme--instagram .social-headline__background,
.theme--instagram .slide--social {
    background: #3f729b;
}

.theme--instagram .social-headline__counter-title {
    background: #38668a;
}

.theme--instagram .social-headline__counter-title:after {
    border-color: transparent transparent transparent #38668a;
}

.theme--instagram .datatable,
.theme--instagram .social-headline__counter-number,
.theme--instagram .slide__caption {
    color: #3f729b;
}

.theme--instagram .datatable__head {
    border-bottom: 3px solid #3f729b;
}

.theme--snapchat .social-headline__details-step,
.theme--snapchat .social-headline__background,
.theme--snapchat .slide--social {
    background: #FFFC50;
}

.theme--snapchat .social-headline__counter-title {
    background: #FFFC50;
}

.theme--snapchat .social-headline__counter-title:after {
    border-color: transparent transparent transparent #fffc01;
}

.theme--snapchat .datatable,
.theme--snapchat .social-headline__counter-number,
.theme--snapchat .slide__caption {
    color: #FFFC50;
}

.theme--snapchat .graph-bar__data-item {
    background: rgba(0, 0, 0, 0.1);
}

.theme--snapchat .datatable__head {
    border-bottom: 3px solid #FFFC50;
}

.theme--snapchat .social-headline__counter-title,
.theme--snapchat .social-headline__details-step,
.theme--snapchat .user__details,
.theme--snapchat .datatable,
.theme--snapchat .social-headline__counter-number,
.theme--snapchat .slide__caption,
.theme--snapchat .graph-bar__label,
.theme--snapchat .graph-bar__data-number,
.theme--snapchat .card,
.theme--snapchat .social-post__option,
.theme--snapchat .social-post__data-caption {
    color: #333;
}

.theme--snapchat .social-post__item {
    height: 550px;
    margin: 10px auto 0 auto;
    display: block;
    border: 3px solid #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.theme--snapchat .social-post__item-media {
    width: 100%;
    height: 100%;
}

.theme--snapchat .social-post__option {
    margin: 175px -36px 0 0;
    text-align: center;
}

.theme--snapchat .social-list__item--right {
    padding: 50px 0 0 0;
}


.theme--blog .social-headline__details-step,
.theme--blog .social-headline__background,
.theme--blog .time-counter__bar-circle,
.theme--blog .slide--social {
    background: #f57d00
}

.theme--blog .social-headline__counter-title {
    background: #C36706;
}

.theme--blog .social-headline__counter-title:after {
    border-color: transparent transparent transparent #C36706
}

.theme--blog .datatable,
.theme--blog .social-headline__counter-number,
.theme--blog .slide__caption {
    color: #f57d00
}

.theme--blog .datatable__head {
    border-bottom: 3px solid #f57d00
}

.theme--blog .graph-bar__data-item{
    width: 250px;
}

/*
* COMPONENTS
* reusable components
*/

/*
* CARDS
*/

.card {
    color: #fff;
    margin: 25px 0;
}

.card__image {
    border: 4px solid #fff;
    background: #fff;
    border-radius: 100%;
    width: 58px;
    height: 58px;
}

.card__name {
    font-size: 18px;
}

.card__text {
    padding: 12px;
    margin: 15px;
    background: #efefef;
    font-size: 11px;
    color: #292E38;
    border-radius: 6px;
}

.card__icon {
    margin: 0 0 10px 15px;
}

.card__caption,
.card__image {
    position: relative;
}

/*
* FEATURES USERS
*/

.featured {
    padding: 40px 0 0 85px;
    text-align: left;
}

.featured__item {
    margin: 40px 0;
}

.featured__image img {
    background: #fff;
    border: 4px solid #fff;
    border-radius: 100%;
}

.featured__position {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30px;
    padding: 4px;
    width: 30px;
    background: #056bf3;
    font-family: "myriad pro",arial,sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #fff;
    border: 4px solid #fff;
    border-radius: 100%;
}

.featured__details {
    padding-left: 10px;
    color: #fff;
    line-height: 1.2em;
    width: 70%;
}

.featured__name {
    font-size: 18px;
}

.featured__text {
    font-family: Roboto,arial,Sans-serif;
    font-size: 14px;
}

.featured__image,
.featured__details {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

/*
* GRAPHS
*/

.graph {
    height: 590px;
    position: relative;
}

.graph__item {
    height: 100%;
    position: relative;
    z-index: 2;
}

.graph-label {
    font-size: 18px;
}

.graph-label {
    padding: 12px 0;
    min-width: 145px;
    border: 3px solid #fff;
    font-family: "Open Sans",arial,Sans-serif;
    font-weight: 400;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}

.graph-label__inner {
    position: absolute;
    z-index: 1;
    left: 0;
    top: -5px;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 32px 0;
    height: 130px;
    width: 130px;
    border: 7px solid #fff;
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 130%;
    border-radius: 100%;
}

.graph-label__mobile {
    padding: 5px 10px;
    text-align: center;
    min-width: 70px;
    -ms-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.graph-label__inner-social {
    border: none;
    top: 16px;
}

.graph-label__inner-facebook {
    color: #3b5998;
}

.graph-label__inner-twitter {
    color: #00aeeb;
}

.graph-label__inner-youtube {
    color: #cd201f;
}

.graph-label__inner-instagram {
    color: #3f729b;
}

.graph-label__inner-snapchat {
    color: #333;
}

.graph-label__inner-blog {
    color: #C36706;
}

.icon_graph {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.graph-bar {
    margin-top: 30px;
    color: #fff;
    font-size: 0;
}

.graph-bar__label {
    padding: 10px 0;
    display: inline-block;
    vertical-align: top;
    border-right: 3px solid #fff;
}

.graph-bar__label-item {
    padding: 32px 15px 32px 0;
    font-size: 16px;
    text-align: right;
}

.graph-bar__data {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: -10px 0;
}

.graph-bar__data-item {
    margin: 40px 0;
    height: 40px;
    width: 310px;
    background: rgba(255, 255, 255, 0.1);
    white-space: nowrap;
}

.graph-bar__data-bar {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    background: #fff;
}

.graph-bar__data-number {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    padding: 12px 10px;
}

.graph-bar-youtube {
    margin: 60px 0 0 50px;
}

.graph-bar-youtube .graph-bar__data-item {
    width: 230px;
}

.graph-line {
    color: #fff;
    padding: 30px 85px 0 100px;
    height: 350px;
    margin-bottom: 50px;
}

.graph-line__legend {
    display: inline-block;
}

.graph-line__legend .line-legend li{
    display: inline-block;
}

.graph-line__legend .line-legend span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px 0 10px;
}

.graph-line__legend .line-legend li:nth-child(1) span{
    background: rgba(255,255,255,0.75) !important;
}

.graph-line__legend .line-legend li:nth-child(2) span{
    background: rgba(0,0,0,0.75) !important;
}

.graph-line__title {
    margin: 0 0 15px 65px;
}

.graph-line__content {
    padding-bottom: 30px;
    height: 100%;
    width: 100%;
}

.graph-line__chart {
    height: 300px;
    width: 100%;
}

/*
* TABLES
*/

.datatable {
    padding: 80px 0;
    color: #fff;
    width: 100%;
}

.datatable__main {
    width: 85%;
    margin: 0 auto;
}

.datatable__main:before {
    content: '';
    height: 20px;
    display: block;
}

.datatable__left {
    vertical-align: top;
    text-align: left;
}

.datatable__center {
    text-align: center;
    vertical-align: middle;
}

.datatable__head {
    border-bottom: 3px solid #fff;
}

.datatable__head-item {
    padding: 15px 0;
    font-size: 22px;
    font-weight: 400;
    position: relative;
    padding: 15px 18px 15px 0;
}

.datatable__body-item {
    padding: 10px 0;
}

.datatable__head-item:first-of-type,
.datatable__body-item:first-of-type,
.datatable__head-item:last-of-type,
.datatable__body-item:last-of-type {
    display: table-cell;
}

.datatable__head,
.datatable__body {
    text-align: right;
}

.table__name--up,
.table__name--down,
.table__redesocial--up,
.table__redesocial--down,
.table__data--up,
.table__data--down,
.table__total--up,
.table__total--down,
.table__engajamento--up,
.table__engajamento--down {
    content: '';
    position: absolute;
    border-left: solid transparent 6px;
    border-right: solid transparent 6px;
    width: 0;
    height: 0;
    right: 0px;
    display: none;
}

.sort__name--down .table__name--up,
.sort__redesocial--down .table__redesocial--up,
.sort__data--down .table__data--up,
.sort__total--down .table__total--up,
.sort__engajamento--down .table__engajamento--up {
    border-top: solid #FFFFFF 6px;
    bottom: 18px;
    display: block;
}

.sort__name--up .table__name--down,
.sort__redesocial--up .table__redesocial--down,
.sort__data--up .table__data--down,
.sort__total--up .table__total--down,
.sort__engajamento--up .table__engajamento--down {
    border-bottom: solid #FFFFFF 6px;
    top: 18px;
    display: block;
}

/*
* TOOLTIPS
*/

.tooltips {
    position: relative;
    z-index: 99999;
}

.tooltip {
    cursor: help;
    vertical-align: super;
}

.tooltip:hover .tooltip__text {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0px);
}

.tooltip__icon {
    color: rgba(0, 0, 0, 0.4);
    position: relative;
    font-size: 14px;
}

.tooltips--dark .tooltip__icon {
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
}

.tooltip__text {
    background: #454545;
    bottom: 200%;
    color: #fff;
    display: block;
    text-align: left;
    left: 0;
    right: 0;
    margin: auto -10px auto -150px;
    opacity: 0;
    padding: 10px;
    pointer-events: none;
    position: absolute;
    font-size: 14px;
    font-family: "calibri",arial,sans-serif;
    transform: translateY(10px);
    transition: all .25s ease-out;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    border-radius: 6px;
}

.tooltip__text:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #454545 10px;
    bottom: -10px;
    content: " ";
    height: 0;
    left: 147px;
    position: absolute;
    width: 0;
}

/*
* USERS
*/

.user {
    position: absolute;
    top: 80px;
    left: 85px;
}

.user__figure {
    position: relative;
}

.user__figure img {
    background: #fff;
}

.user__circle {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #f29208;
    width: 30px;
    height: 30px;
}

.user__circle:before,
.user__circle:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 23px;
    margin: auto;
    content: '';
}

.user__circle:before {
    z-index: 1;
    width: 220px;
    height: 3px;
    background: url(../images/border_dashed_hor.png) right repeat-x;
}

.user__circle:after {
    z-index: 2;
    width: 55px;
    height: 5px;
    background: #fff;
    border-radius: 50px;
}

.user__details {
    color: #fff;
    line-height: 26px;
    margin: 5px 0 0 10px;
}

.user__text {
    font-family: Roboto,arial,Sans-serif;
    font-size: 16px;
}

.user__circle,
.user__figure img {
    border: 4px solid #fff;
    border-radius: 100%;
}

.user__figure,
.user__details {
    display: inline-block;
    vertical-align: top;
}

/*
* TOPLISTS
*/

.toplist {
    font-size: 0;
    color: #fff;
}

.toplist__left,
.toplist__right {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.toplist__left {
    width: 80px;
}

.toplist__left:after {
    position: absolute;
    right: -3px;
    margin: auto;
    width: 3px;
}

.toplist__title {
    font-size: 16px;
    position: absolute;
    padding: 3px;
    margin: auto;
    height: 30px;
    width: 80px;
    border-bottom: 3px solid #fff;
}

.toplist__item {
    margin: 0 0 60px 32px;
}

.toplist__position {
    position: relative;
    padding: 9px 0;
    width: 40px;
    height: 40px;
    font-family: "myriad pro",arial,sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #fff;
    border: 4px solid #fff;
    border-radius: 100%;
}

.toplist__position:before {
    position: absolute;
    left: -35px;
    margin: auto;
    width: 32px;
    height: 3px;
}

.toplist__details {
    margin-left: 15px;
}

.toplist__name {
    font-size: 16px;
}

.toplist__text {
    font-family: Roboto,arial,Sans-serif;
    font-size: 14px;
    margin-top: 10px;
    display: block;
}

.toplist__position,
.toplist__details {
    display: inline-block;
    vertical-align: middle;
}

.toplist__left:after,
.toplist__position:before {
    content: '';
    top: 0;
    background: #fff;
    bottom: 0;
}

.toplist-5 .toplist__left:after {
    height: 403px;
}

.toplist-5 .toplist__title {
    top: -26px;
    bottom: 0;
}

.toplist-5 .toplist__left,
.toplist-5 .toplist__right {
    height: 440px;
}

.toplist-3 .toplist__left:after {
    height: 203px;
}

.toplist-3 .toplist__title {
    bottom: 18px;
}

.toplist-3 .toplist__left,
.toplist-3 .toplist__right {
    height: 240px;
}

.toplist-youtube {
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
    color: #cd201f;
}

.toplist-youtube .toplist__title {
    border-bottom: 3px solid #cd201f;
}

.toplist-youtube .toplist__subtitle {
    display: inline-block;
    vertical-align: top;
    margin-top: 16px;
    width: 100%;
}

.toplist-youtube .toplist__position {
    border: 4px solid #cd201f;
    color: #cd201f;
}

.toplist-youtube .toplist__left:after,
.toplist-youtube .toplist__position:before {
    background: #cd201f;
}

.toplist-user {
    padding: 0 15px;
}

.toplist-user .user {
    position: relative;
    top: inherit;
    left: inherit;
    padding: 15px 0;
}

.toplist-user .user__circle {
    background: #056BF3;
}

.toplist-user .user:nth-child(1) .user__circle:after {
    width: 190px;
}

.toplist-user .user:nth-child(2) .user__circle:after {
    width: 170px;
}

.toplist-user .user:nth-child(3) .user__circle:after {
    width: 160px;
}

.toplist-user .user:nth-child(4) .user__circle:after {
    width: 120px;
}

/*
* TIME SEEK
*/

.time-counter {
    margin: 70px 0 0 70px;
    padding: 70px 0;
    color: #fff;
}

.time-counter__bar {
    position: relative;
    margin: 0 10px;
    height: 5px;
    width: 250px;
    background: #fff;
    border-radius: 50px;
}

.time-counter__bar-circle {
    border: 4px solid #fff;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 25px;
    height: 25px;
    margin: auto;
}

.time-counter__bar-caption {
    top: -70px;
    left: -66px;
    width: 150px;
}

.time-counter__bar-caption:after {
    bottom: -23px;
}

.time-counter__bar-current {
    bottom: -70px;
    left: -26px;
    width: 70px;
}

.time-counter__bar-current:after {
    top: -23px;
}

.time-counter__bar,
.time-counter__final,
.time-counter__initial {
    display: inline-block;
    vertical-align: middle;
}

.time-counter__bar-caption,
.time-counter__bar-current {
    position: absolute;
    right: 0;
    padding: 12px 0;
    text-align: center;
    border: 3px solid #fff;
    border-radius: 10px;
}

.time-counter__bar-caption:after,
.time-counter__bar-current:after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    width: 3px;
    height: 20px;
    background: #fff;
}

.time-clock {
    padding: 50px 0;
    text-align: center;
    color: #fff;
}

.time-clock__name {
    margin-top: 15px;
}

.time-clock__number {
    font-size: 37px;
}

/*
* GRIDSTER
*/

.dragdrop {
    position: relative;
    width: 100%;
}

.dragdrop__item {
    position: absolute;
    overflow: hidden;
    color: #fff;
    border: 3px solid rgba(255, 255, 255, 0.3);
}

.dragdrop__box,
.dragdrop__box-padding {
    padding: 25px;
}

.dragdrop__type-one {
    width: 274px;
    height: 300px;
}

.dragdrop__type-two {
    width: 584px;
    height: 180px;
}

.dragdrop__type-three {
    width: 584px;
    height: 517px;
}

.dragdrop__item-title {
    display: inline-block;
    padding: 0 45px 7px 0;
    font-size: 18px;
    border-bottom: 3px solid #fff;
    font-weight: 700;
}

.dragdrop__item-text {
    margin-top: 10px;
    line-height: 130%;
}

.dragdrop__item-icon {
    margin: 0 auto;
    width: 105px;
    border-bottom: 3px solid #fff;
    padding: 15px 0;
}

.dragdrop__item-icon img {
    border: 4px solid #fff;
    border-radius: 100%;
}

.dragdrop__item-image {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    max-width: none !important;
    height: 100%;
    width: auto;
    transform: translate(-50%, -50%);
}

.dragdrop__box {
    text-align: center;
}

.circle__image.fa {
    width: 85px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 4px solid #fff;
    border-radius: 100%;
}

.gridster {
    position: relative;
    padding: 16px 0;
    width: 100%;
}

.gridster > * {
    margin: 0 auto;
    transition: height .4s,width .4s;
}

.gridster .gs-w {
    z-index: 2;
    position: absolute;
}

.ready .gs-w:not(.preview-holder),
.ready .resize-preview-holder {
    transition: opacity .3s,left .3s,top .3s,width .3s,height .3s;
}

.gridster .preview-holder {
    z-index: 1;
    position: absolute;
    background-color: #fff;
    border-color: #fff;
    opacity: .3;
}

.gridster .player-revert {
    z-index: 10 !important;
    transition: left 0.3s, top 0.3s !important;
}

.gridster .dragging,
.gridster .resizing {
    z-index: 10 !important;
    transition: all 0s !important;
}

.gs-resize-handle {
    position: absolute;
    z-index: 1;
}

.gs-resize-handle-both {
    width: 20px;
    height: 20px;
    bottom: -8px;
    right: -8px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=);
    background-position: top left;
    background-repeat: no-repeat;
    cursor: se-resize;
    z-index: 20;
}

.gs-resize-handle-x {
    top: 0;
    bottom: 13px;
    right: -5px;
    width: 10px;
    cursor: e-resize;
}

.gs-resize-handle-y {
    left: 0;
    right: 13px;
    bottom: -5px;
    height: 10px;
    cursor: s-resize;
}

.gs-w:hover .gs-resize-handle,
.resizing .gs-resize-handle {
    opacity: 1;
}

.gs-resize-handle,
.gs-w.dragging .gs-resize-handle {
    opacity: 0;
}

.gs-resize-disabled .gs-resize-handle,
[data-max-sizex="1"] .gs-resize-handle-x,
[data-max-sizey="1"] .gs-resize-handle-y,
[data-max-sizey="1"][data-max-sizex="1"] .gs-resize-handle {
    display: none !important;
}

/*
* LOADING
*/

.loading-campaign {
    position: fixed;
    display: flex;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #292e38;
}

.loading-image {
    width: 100%;
    max-width: 315px;
}

.loading-spinner {
    width: 100%;
    text-align: center;
}

.loading-spinner__inner label {
    font-size: 20px;
    opacity: 0;
    display: inline-block;
}

@keyframes dashing {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }

    33% {
        opacity: 1;
        transform: translateX(0px);
    }

    66% {
        opacity: 1;
        transform: translateX(0px);
    }

    100% {
        opacity: 0;
        transform: translateX(300px);
    }
}

@-webkit-keyframes dashing {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-300px);
    }

    33% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }

    66% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(300px);
    }
}

.loading-spinner__inner label:nth-child(6) {
    -webkit-animation: dashing 3s infinite ease-in-out;
    animation: dashing 3s infinite ease-in-out;
}

.loading-spinner__inner label:nth-child(5) {
    -webkit-animation: dashing 3s 100ms infinite ease-in-out;
    animation: dashing 3s 100ms infinite ease-in-out;
}

.loading-spinner__inner label:nth-child(4) {
    -webkit-animation: dashing 3s 200ms infinite ease-in-out;
    animation: dashing 3s 200ms infinite ease-in-out;
}

.loading-spinner__inner label:nth-child(3) {
    -webkit-animation: dashing 3s 300ms infinite ease-in-out;
    animation: dashing 3s 300ms infinite ease-in-out;
}

.loading-spinner__inner label:nth-child(2) {
    -webkit-animation: dashing 3s 400ms infinite ease-in-out;
    animation: dashing 3s 400ms infinite ease-in-out;
}

.loading-spinner__inner label:nth-child(1) {
    -webkit-animation: dashing 3s 500ms infinite ease-in-out;
    animation: dashing 3s 500ms infinite ease-in-out;
}

/* TWITTER EMOJI */

/* --------------------------------------------------------------------------------------------------------------- */

img.emoji {
    display: inline-block;
    vertical-align: middle;
    clear: both;
    box-shadow: none;
    width: 15px;
    border: none;
    border-radius: 0;
    height: auto;
}

@media (min-width: 1280px) and (min-height: 720px) {
    .slide,
    .container--full {
        height: 100vh;
    }

    .header-brand,
    .header-headline,
    .container--full,
    .container--ishead,
    .container--ishead-social,
    .container--ishead-details{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container--fullflex {
        width: 100%;
    }

    .container--ishead{
        height: calc(100vh - 130px);
    }

    .container--ishead-social{
        height: calc(100vh - 180px);
    }

    .container--ishead-details{
        height: calc(100vh - 65px);
    }

    .header-brand{
        height: 50vh;
    }

    .header-headline,
    .header-logo{
        height: 25vh;
    }

    .comments {
        margin: 0 auto 0 auto;
    }
}

@media (min-width: 1280px) {
    .engagement__item {
        width: 65%;
    }

    .engagement__item:last-of-type {
        width: 35%;
    }

    .comments__icons {
        position: absolute;
        bottom: -70px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .comments__item:nth-child(2) .comments__title {
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
    }

    .comments__item:nth-child(2):before,
    .comments__item:nth-child(2):after {
        background: url(../images/border_dashed.png);
    }

    .social-list__item--left {
        padding: 180px 0 0 85px;
        float: left;
    }

    .social-list__item--right {
        padding: 80px 85px 0 0;
        float: right;
    }

    .social-post {
        width: 525px;
    }

    .social-post__item {
        height: 420px;
    }

    .social-post__data-caption {
        max-width: 320px;
    }

    .social-post__option {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .theme--snapchat .social-post__item {
        width: 312px;
    }

    .theme--snapchat .social-post__option-item {
        display: inline-block;
        vertical-align: top;
        padding: 30px 0;
        width: 230px;
        margin: 0 34px 0 0;
        border: 3px solid #fff;
        text-align: center;
        line-height: 140%;
        border-radius: 10px;
    }

    .card__image {
        margin-right: 15px;
    }

    .card__name {
        text-align: left;
    }

    .card__text {
        width: 245px;
        margin: 12px 0 0 0;
    }

    .card__user {
        position: absolute;
        width: 100%;
        bottom: -26px;
        right: 0;
        font-size: 16px;
        text-align: right;
    }

    .card__caption,
    .card__image,
    .card__icon {
        vertical-align: bottom;
        display: inline-block;
    }

    .featured {
        height: 590px;
    }

    .graph-line__chart {
        height: 100%;
    }

    .tooltip__text {
        width: 300px;
        margin: auto auto auto -150px;
    }

    .toplist-user {
        margin: 65px 0;
        padding: 0;
    }
}

@media (max-width: 1279px) {
    .slide {
        height: auto;
    }

    .slide__caption {
        left: 0;
        position: relative;
        bottom: 0;
        padding: 30px 20px;
    }

    .container__three-item {
        width: 100%;
        text-align: center;
    }

    .social-list__item {
        width: auto;
    }

    .social-post {
        margin: 0 auto;
        padding: 20px;
    }

    .social-post__option-item {
        width: calc(33.333333% - 13px);
        margin: 5px;
    }

    .theme--snapchat .social-post__option {
        margin: 100px 0;
    }

    .card {
        text-align: center;
    }

    .card__icon {
        margin: 15px 0;
    }

    .graph-bar {
        text-align: center;
    }

    .user {
        left: 0;
        top: 0;
        position: relative;
        padding: 80px 0 0 15px;
    }

    .toplist-3 {
        margin: 50px 0;
    }
}

@media (max-width: 767px) {
    .slide-headline {
        line-height: inherit;
    }

    .comments__item {
        width: 100%;
        min-height: auto;
    }

    .social-post__item-data {
        width: 100%;
    }

    .social-post__option-item {
        width: calc(50% - 13px);
        margin: 5px;
    }

    .featured {
        padding: 0 15px;
    }

    .graph-bar__data-item {
        width: 100px;
    }

    .graph-bar-youtube {
        margin: 30px 0;
    }

    .graph-bar-youtube .graph-bar__data-item {
        width: 100px;
    }

    .graph-line {
        padding: 30px;
        height: auto;
    }

    .datatable__head-item {
        display: none;
    }

    .datatable__body-item {
        display: none;
    }

    .toplist {
        padding: 30px 0;
    }

    .time-counter {
        margin: 0;
    }

    .time-counter__bar {
        width: 150px;
    }

    .gridster > * {
        height: auto !important;
    }

    .gridster .gs-w {
        width: 100%;
        height: auto;
        margin: 30px 0;
        position: initial;
    }
}
